@import url('https://fonts.googleapis.com/css?family=|Lato');
 

body{
	background: #DDDBDB;
}



h2{
	margin: 0.5rem auto;
}

.frame{
	border: 0.5rem solid white;
	border-radius: 1rem;
	width:30rem;
	margin: 0.5rem auto;
}

.board { 
	margin: 0.5rem auto;
    
}

td{
	padding: 0.3rem;
	border: none;
}

.output {
	padding: 0.5rem;
	width:22rem;
	height: 4rem;
	border-radius: 0.5rem;
	border: solid #04E74F;
	text-align: right;
	font-size: 2rem;
	background-color: white;
}
.output :disabled{
	background-color: white;
}
.input{
	padding: 0.5rem;
	width:22rem;
	height: 4rem;
	border-radius: 0.5rem;
	border: solid #BBC6BF;
	text-align: right;
	font-size: 2rem;
	background-color: white;


}
.btn {
	width: 5rem;
	height: 4rem;
	background-color: #5B80CD;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.opr{
		background-color: #878383;
}
.clr{
	width:22rem;
	background-color: #F34545;
}
.hsl{
	background-color: #2BAA52;
}

i a{
	color: red;
	font-weight: 800;
}
li a:hover{
	color:green;
	text-decoration: none;
}
.other span{
	font-weight: 800;
}

@media(max-width: 768px){
	.frame{
		width: 100%;
	}
}
